.card {
  flex: 0 0 16.66%;
  padding: 10px;
  max-width: 150px;

  &__item {
    display: inline-block;
    min-height: 80px;
    width: 100%;
    outline: 0;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;

    &:active {
      outline: none;
      border: none;
    }
    
    &--is-closed {
      background-color: #c1bccc;
      background-image: url('../media/deck_card.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: transparent;
    }

    &--is-hided {
      visibility: hidden;
    }
  }
}
