body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  color: #fff;
  background-color: #2b4558;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1, h3 {
  color: #f8c874;
}


.button {
  transition: color, background-color 0.3s;
  color: #2b4558;
  background-color: #f8c874;
  padding: 15px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    background-color: rgba(75, 111, 138, 0.5);
    color: #f8c874;
    outline: none;
    border: none;
  }
}
